body{
    /* background-image: linear-gradient(to right,#1488CC , #2B32B2); */
    
}

.sign-up{
    margin:50px auto;
    width: 60%;

}

.nav-bar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:15px;
    font-size: 20px;
    border: 1px solid grey ;
    border-radius: 5px;
    margin-bottom:  50px;
}

.add-new{
    width:80%;
    margin: 0 auto;

}

.log-in{
    width:60%;
}

.pen-pic{
    width: 30px;
  }

  .nav-bar a{
      color:green;
  }
